:root {
  --app-dark-bg: #1a1d28;
  --app-green: #009266;
  --app-green-hover: #018554;
  --app-purple: #833cff;
  --app-orange: #ff833c;
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
  --app-grey: #bebebe;
  --app-white: #f1f1f1;
  --app-border-radius: 5px;
  --app-grey-bg: #f6f6f6;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  background-color: var(--app-dark-bg);
  font-family: Nunito, Inter, san-serif;
  position: relative;
}

.catalog-main {
  margin: 35px;
}

header {
  background-color: var(--app-blue);
  height: 60px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 60px;
}

.heading figure {
  line-height: 60px;
}

.heading h1 {
  color: var(--app-white);
}

.heading figure img {
  height: 40px;
}

.search-movie {
  padding: 5px 10px 5px 15px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.search-movie input {
  background: none;
  color: var(--app-white);
  height: 25px;
  font-size: 17px;
  color: var(--app-white);
}

.search-movie input::placeholder {
  color: rgb(255, 255, 255, 0.7);
}

.search-movie button {
  height: 25px;
  padding: 0 10px;
  background: none;
  font-size: 17px;
  color: var(--app-white);
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 5px;
  font-weight: 600;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li + li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--app-white);
  font-size: 19px;
  letter-spacing: 1.1px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s;
}

nav a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s;
}

nav a:hover {
  color: #fff;
}

nav a:hover:before {
  width: 100%;
}

.active {
  border-bottom: 2px solid #fff;
}

.bar-icon {
  display: none;
  font-size: 23px;
  color: var(--app-white);
}

footer {
  height: 60px;
  background-color: var(--app-blue);
  line-height: 60px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.query,
.copyright {
  font-size: 19px;
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-gap: 40px 21px;
}

.grid-item {
  height: 330px;
  border-radius: 5px;
  cursor: pointer;
}

.grid-item figure img {
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 0.5px 8px rgba(255, 255, 255, 0.3);
}

.grid-item .description {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 18px;
  color: var(--app-white);
}

.catalog-header {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.catalog-header h2 {
  color: var(--app-white);
  letter-spacing: 1.2px;
  font-size: 28px;
}

.catalog-header button {
  background-color: var(--app-green);
  color: var(--app-white);
  border-radius: 5px;
  font-size: 15px;
  height: 35px;
  width: 19 0px;
  padding: 0 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
}

.catalog-header button:hover {
  background-color: var(--app-green-hover);
}

.not-found {
  height: calc(100vh - 60px - 60px);
  display: grid;
  place-items: center;
  background: linear-gradient(-45deg, #5f748b, #1c2130, #1c2748);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  font-family: "Inconsolata", monospace;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ghost img {
  height: 350px;
  animation: floaty 1.8s infinite alternate;
}

@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

.shadow {
  width: 250px;
  height: 30px;
  background-color: rgba(187, 189, 202, 0.16);
  margin: 0 auto;
  border-radius: 50%;
  filter: blur(7px);
  animation: floaty 1.8s infinite alternate;
}

.ghost-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content {
  color: var(--app-white);
}

.content .error {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}

.content .hello {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 1px;
}

.content .message {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}

.content .home {
  margin-top: 25px;
  height: 35px;
  padding: 0 25px;
  background: var(--app-blue);
  font-size: 21px;
  color: var(--app-white);
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.form-container {
  height: calc(100vh - 60px - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #f1f2f3;
  width: 450px;
  padding: 15px 10px;
  border-radius: 5px;
}

form h2 {
  text-align: center;
  font-size: 28px;
  color: var(--app-blue);
}

form label {
  display: block;
  font-size: 20px;
  font-weight: 600;
}

form .inputs {
  margin-bottom: 18px;
}

form input[type="text"],
input[type="number"] {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: none;
  height: 40px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  border-radius: 5px;
}

form input[type="text"]:focus,
input[type="number"]:focus {
  border: 1px solid rgb(0 0 0);
}

form .button {
  display: block;
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: #1414ff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

form .button:disabled {
  background-color: #6666ea;
  cursor: not-allowed;
}

.detail-main {
  height: calc(100vh - 60px - 60px);
  display: grid;
  place-items: center;
}

.detail {
  height: 350px;
  width: 900px;
  display: flex;
  justify-content: space-evenly;
}

.detail figure {
  width: 270px;
  display: flex;
  justify-content: center;
}

.detail figure img {
  border-radius: 5px;
  height: 350px;
  box-shadow: 0 0.5px 8px rgba(255, 255, 255, 0.3);
}

.detail-content {
  width: 630px;
  height: 350px;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.detail-content .title {
  font-size: 45px;
  font-weight: 800;
}

.detail-content p + p {
  margin-top: 15px;
}

.detail-content p {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

@media (max-width: 996px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 776px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .detail {
    display: block;
  }
  
  .search-movie {
    display: none;
  }

  nav {
    display: none;
  }

  .bar-icon {
    display: block;
  }

  .catalog-header {
    justify-content: center;
  }

  .catalog-header h2 {
    display: none;
  }

  .footer-flex{
    justify-content: center;
  }
  footer .copyright {
    display: none;
  }
}

@media (max-width: 556px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
  }

  .ghost-flex {
    display: block;
  }


}

@media (max-width: 446px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
