:root {
  --app-dark-bg: #1a1d28;
  --app-green: #00a86b;
  --app-green-hover: #3b9650;
  --app-purple: #833cff;
  --app-orange: #ff833c;
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
  --app-grey: #bebebe;
  --app-white: #f1f1f1;
  --app-border-radius: 5px;
  --app-grey-bg: #f6f6f6;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  background-color: var(--app-dark-bg);
  font-family: Nunito, Inter, san-serif;
  position: relative;
}

header {
  background-color: var(--app-blue);
  height: 60px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 60px;
}

.heading figure {
  line-height: 60px;
}

.heading h1 {
  color: var(--app-white);
}


.heading figure img {
  height: 40px;
  width: 40px;
}

.search-movie{
  display: flex;
 padding: 10px 50px;
  background-color: red;
  border-radius: 20px;
}

nav ul{
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li + li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--app-white);
  font-size: 18px;
  text-transform: uppercase;
}

.bar-icon {
  display: none;
}